<br>
<br>
<br>
<div class = "container">
    <table class = "table  table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>APELLIDO</th>
                <th>DIRECCION</th>
                <th>TELEFONO</th>
                <th>SINPE</th>
                <th>LUGAR</th>
                <th>USUARIO</th>
                <th>PASSWORD</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let farmer of farmers">
                <td><span>{{farmer.id}}</span></td>
                <td><span>{{farmer.name}}</span></td>
                <td><span>{{farmer.lastName}}</span></td>
                <td><span>{{farmer.address}}</span></td>
                <td><span>{{farmer.phone}}</span></td>
                <td><span>{{farmer.sinpe}}</span></td>
                <td><span>{{farmer.places}}</span></td>
                <td><span>{{farmer.userName}}</span></td>
                <td><span>{{farmer.password}}</span></td>
            </tr>
        </tbody>
    </table>
</div>