<div class="form-group">
<form name="solicitudForm" action=""  method="post">
    <div>Número de cédula: <input type="text" name="cedulasolicitd"></div>
    <div>Nombre: <input type="text" name="nombresolicitud"></div>
    <div>Residencia: <input type="text" name="residenciasolicitud"></div>
    <div>Fecha de nacimiento: <input type="text" name="nacimientosolicitud"></div>
    <div>SINPE movil: <input type="text" name="sinpesolicitud"></div>
    <div>Usuario movil: <input type="text" name="usuariosolicitud"></div>
    <div>Contraseña: <input type="text" name="contrasenasolicitud"></div>
    <div><button type="submit" (click)="registro()">Enviar</button></div>
</form>
</div>