<!--botones de vista-->
<div class="container ">
  <br>
  <br>
      <div class="col-6 mx-auto">
        <a class="btn btn-primary btn-lg btn-block" [routerLink]="['/administrador']" role="button">Administración</a> 
    </div>  
  <br>
  <br>
    <div class="col-6 mx-auto">
      <a class="btn btn-primary btn-lg btn-block" [routerLink]="['/productor']" role="button">Productor</a>
    </div>
  <br>
  <br>
    <div class="col-6 mx-auto">
        <a class="btn btn-primary btn-lg btn-block" [routerLink]="['/público']" role="button">Público general</a>
    </div>
</div>


