<br>
<br>
<div class="d-flex justify-content-around">
    <a class="btn btn-success btn-lg btsize" [routerLink]="['/productores']" role="button">Gestión de productores</a>
</div>
<br>
<br>
<div class="d-flex justify-content-around">
    <a class="btn btn-success btn-lg btsize " [routerLink]="['/afiliaciones-pendientes']" role="button">Administración de afiliaciones</a>
</div>
<br>
<br>
<div class="d-flex justify-content-around">
    <a class="btn btn-success btn-lg btsize " href="#" role="button">Gestión de categoría</a>
</div>
<br>
<br>
<div class="d-flex justify-content-around">
    <a class="btn btn-success btn-lg btsize " [routerLink]="['/productos']" role="button">Vista de reportes</a>
</div>
<br>
<br>
