<br>
<br>
<div class="d-flex justify-content-around">
    <a class="btn btn-success btn-lg " href="#" role="button">Gestión de productores</a>
    <a class="btn btn-success btn-lg " href="#" role="button">Administración de afiliaciones</a>
</div>
<br>
<br>
<div class="d-flex justify-content-around">
    <a class="btn btn-success btn-lg " href="#" role="button">Gestión de categoría</a>
    <a class="btn btn-success btn-lg " href="#" role="button">Administración de afiliaciones</a>
</div>
<br>
<br>
<div class="d-flex justify-content-around">
    <a class="btn btn-success btn-lg " href="#" role="button">Vista de Reportes</a>
</div>
